<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Numerology App</title>
  	<style type="text/css">
	  </style>
  </head>
  <body>
    <div class="container">
    <div class="header">
    <h1>Numerology App <small>A Skillcrush Project</small></h1>
    </div>
    <hr />
    <%= yield %>
  </div>
  <div class="container">
    <div class="header">
	<hr />
	
  <h3><small>About the developer:</small></h3>
  <p>David is enrolled in Skillcrush 104/204/304 and learning how to ask questions. And how to use Google, Stack Overflow, Ruby, resplendent Gems, Sinatra, dread pirate RSpec, ActiveRecord, Postgres, HTML, CSS, JavaScript, JQuery, Command Line, GitHub, Heroku, and, finally, Rails.</p>
  </div>
  </body>
</html>